.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: top;
  z-index: 200;
}

.modal-content {
  max-width: 100%;
  max-height: 100vh;
  z-index: 200;
}
