@import './variables';
@import './listingArea';
@import './sidebar';
@import './header';
@import './responsive';
@import './fullScreenSet';
@import './loadingScreen';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
li {
  list-style-type: none;
}
body {
  min-height: 100vh;
  min-width: 170px;
  position: relative;
  background-image: url("../assets/canvas-texture-2.jpeg");
  background-size: contain;
  background-repeat: repeat;
  @include M {
    background-image: none;
    background-color: rgb(31, 31, 31);
  }
  @include S {
    background-image: none;
    background-color: rgb(31, 31, 31);
  }
}

.no-scroll {
  overflow: hidden;
}