@import './variables';
@import './listingArea';
@import './sidebar';
@import './header';
@import './responsive';
@import './fullScreenSet';
@import './loadingScreen';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
li {
  list-style-type: none;
}
body {
  @include M {
    background-image: none;
    background-color: rgb(31, 31, 31);
  }
  @include S {
    background-image: none;
    background-color: rgb(31, 31, 31);
  }
}

.no-scroll {
  overflow: hidden;
}
